<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628023121641-8q168nocsnr24m4jdeve1njpf2a0b5ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628023121641-8q168nocsnr24m4jdeve1njpf2a0b5ic</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628023121641-67lpbtjs1786ii0vfbu1f447d2uf58hi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQqbiHjbkHDMdU9PIB5Kw26Hbd7cdASDU</string>
	<key>GCM_SENDER_ID</key>
	<string>628023121641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SupplementApp</string>
	<key>PROJECT_ID</key>
	<string>supplement-app-22a73</string>
	<key>STORAGE_BUCKET</key>
	<string>supplement-app-22a73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628023121641:ios:51f2531221c87377a28278</string>
</dict>
</plist>